@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
  background-color:  hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}
.main{
  margin: auto;
}
.card{
  background-color:  hsl(0, 0%, 100%);
  display: block;
  justify-items: auto;
  margin: 10% auto;
  padding: 1rem;
  border-radius:5% ;
  font-size: 15px !important;
  text-align: center;
}
.card-body{
  width: 85%;
  margin: auto;
}
.card-title{
  color:  hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.25rem;
}
p{
  color:  hsl(220, 15%, 55%);
  font-weight: 400;
}
img{
  width: inherit;
  border-radius: 5%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
